Lisman/Lisman/Connected Services/LismanService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LismanService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LismanService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Acceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Constrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo_acceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key_confirmation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Acceso" nillable="true" type="tns:Acceso" />
</xs:schema>