Lisman/Lisman/Connected Services/LismanService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LismanService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LismanService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Historial" nillable="true" type="tns:Historial" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key_confirmation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
  <xs:complexType name="Historial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Historia_PuntajeMaximo" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mult_PartidasGanadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mult_PartidasJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="Multijugador_PuntajeMaximo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Historial" nillable="true" type="tns:Historial" />
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuenta" nillable="true" type="tns:Cuenta" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="ArrayOfCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuenta" nillable="true" type="tns:ArrayOfCuenta" />
</xs:schema>