Lisman/Lisman/Connected Services/LismanService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LismanService" />
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LismanService" minOccurs="0" name="account" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LismanService" minOccurs="0" name="GetAccountsResult" nillable="true" type="q2:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LismanService" minOccurs="0" name="GetAccountByIdResult" nillable="true" type="q3:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LismanService" minOccurs="0" name="GetRecordsResult" nillable="true" type="q4:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="game" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LeaveGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LismanService" minOccurs="0" name="message" nillable="true" type="q5:Message" />
        <xs:element minOccurs="0" name="Game" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idgame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idgame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idgame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LismanService" minOccurs="0" name="message" nillable="true" type="q6:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyJoinedPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNumberPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberPlayers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLeftPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LismanService" minOccurs="0" name="LoginAccountResult" nillable="true" type="q7:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserNameExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAdress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMultiplayerGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idgame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveLisman">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="initialPositionX" type="xs:int" />
        <xs:element minOccurs="0" name="initialPositionY" type="xs:int" />
        <xs:element minOccurs="0" name="finalPositionX" type="xs:int" />
        <xs:element minOccurs="0" name="finalPositionY" type="xs:int" />
        <xs:element minOccurs="0" name="goTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePower">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintInformationPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listPlayers" nillable="true" type="q8:ArrayOfKeyValueOfstringInformationPlayeruKS9XB9A" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyColorPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLismanMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="positionX" type="xs:int" />
        <xs:element minOccurs="0" name="positionY" type="xs:int" />
        <xs:element minOccurs="0" name="goTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyDisappearedPowerPill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="positionX" type="xs:int" />
        <xs:element minOccurs="0" name="positionY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUpdateScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="scorePlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUpdateLifes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="lifePlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerIsDead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnLismanToInitialPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="positionX" type="xs:int" />
        <xs:element minOccurs="0" name="positionY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLismanSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speed" type="xs:int" />
        <xs:element minOccurs="0" name="hasPower" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyEndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="winner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>