Lisman/Lisman/Connected Services/LismanService/LismanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LismanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IChatManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ILoginManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LismanService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountManager_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountById" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecords" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameManager_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IGameManager_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameManager_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IGameManager_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IChatManager_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IChatManager_JoinChat_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinChat" />
  </wsdl:message>
  <wsdl:message name="IChatManager_LeaveChat_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveChat" />
  </wsdl:message>
  <wsdl:message name="IChatManager_NotifyMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyMessage" />
  </wsdl:message>
  <wsdl:message name="IChatManager_NotifyJoinedPlayer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyJoinedPlayer" />
  </wsdl:message>
  <wsdl:message name="IChatManager_NotifyNumberPlayers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyNumberPlayers" />
  </wsdl:message>
  <wsdl:message name="IChatManager_NotifyLeftPlayer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyLeftPlayer" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_LoginAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccount" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_LoginAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_LogoutAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:LogoutAccount" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_LogoutAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_UserNameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExists" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_UserNameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserNameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_EmailExists_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailExists" />
  </wsdl:message>
  <wsdl:message name="ILoginManager_EmailExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountManager">
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/AddAccount" message="tns:IAccountManager_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/AddAccountResponse" message="tns:IAccountManager_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetAccounts" message="tns:IAccountManager_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetAccountsResponse" message="tns:IAccountManager_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetAccountById" message="tns:IAccountManager_GetAccountById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetAccountByIdResponse" message="tns:IAccountManager_GetAccountById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetRecords" message="tns:IAccountManager_GetRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetRecordsResponse" message="tns:IAccountManager_GetRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameManager">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/CreateGame" message="tns:IGameManager_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/CreateGameResponse" message="tns:IGameManager_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/JoinGame" message="tns:IGameManager_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/JoinGameResponse" message="tns:IGameManager_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameManager/LeaveGame" message="tns:IGameManager_LeaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameManager/LeaveGameResponse" message="tns:IGameManager_LeaveGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChatManager">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/SendMessage" message="tns:IChatManager_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/JoinChat" message="tns:IChatManager_JoinChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatManager/LeaveChat" message="tns:IChatManager_LeaveChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/NotifyMessage" message="tns:IChatManager_NotifyMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyJoinedPlayer">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/NotifyJoinedPlayer" message="tns:IChatManager_NotifyJoinedPlayer_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyNumberPlayers">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/NotifyNumberPlayers" message="tns:IChatManager_NotifyNumberPlayers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyLeftPlayer">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatManager/NotifyLeftPlayer" message="tns:IChatManager_NotifyLeftPlayer_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILoginManager">
    <wsdl:operation name="LoginAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginManager/LoginAccount" message="tns:ILoginManager_LoginAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginManager/LoginAccountResponse" message="tns:ILoginManager_LoginAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogoutAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginManager/LogoutAccount" message="tns:ILoginManager_LogoutAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginManager/LogoutAccountResponse" message="tns:ILoginManager_LogoutAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserNameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginManager/UserNameExists" message="tns:ILoginManager_UserNameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginManager/UserNameExistsResponse" message="tns:ILoginManager_UserNameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginManager/EmailExists" message="tns:ILoginManager_EmailExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginManager/EmailExistsResponse" message="tns:ILoginManager_EmailExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountManager" type="tns:IAccountManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/GetAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/GetAccountById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/GetRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameManager" type="tns:IGameManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IGameManager/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChatManager" type="tns:IChatManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IChatManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="JoinChat">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/JoinChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaveChat">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/LeaveChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/NotifyMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyJoinedPlayer">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/NotifyJoinedPlayer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyNumberPlayers">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/NotifyNumberPlayers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyLeftPlayer">
      <soap12:operation soapAction="http://tempuri.org/IChatManager/NotifyLeftPlayer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILoginManager" type="tns:ILoginManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ILoginManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoginAccount">
      <soap12:operation soapAction="http://tempuri.org/ILoginManager/LoginAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutAccount">
      <soap12:operation soapAction="http://tempuri.org/ILoginManager/LogoutAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserNameExists">
      <soap12:operation soapAction="http://tempuri.org/ILoginManager/UserNameExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <soap12:operation soapAction="http://tempuri.org/ILoginManager/EmailExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LismanService">
    <wsdl:port name="NetTcpBinding_IAccountManager" binding="tns:NetTcpBinding_IAccountManager">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALANGONZALZ9AE0\alanglezh</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameManager" binding="tns:NetTcpBinding_IGameManager">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALANGONZALZ9AE0\alanglezh</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChatManager" binding="tns:NetTcpBinding_IChatManager">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALANGONZALZ9AE0\alanglezh</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILoginManager" binding="tns:NetTcpBinding_ILoginManager">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALANGONZALZ9AE0\alanglezh</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>