Lisman/Lisman/Connected Services/LismanService/LismanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LismanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LismanService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountManager_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountById" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_LoginAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_LoginAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecords" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountManager">
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/AddAccount" message="tns:IAccountManager_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/AddAccountResponse" message="tns:IAccountManager_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetAccounts" message="tns:IAccountManager_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetAccountsResponse" message="tns:IAccountManager_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetAccountById" message="tns:IAccountManager_GetAccountById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetAccountByIdResponse" message="tns:IAccountManager_GetAccountById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/LoginAccount" message="tns:IAccountManager_LoginAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/LoginAccountResponse" message="tns:IAccountManager_LoginAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountManager/GetRecords" message="tns:IAccountManager_GetRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountManager/GetRecordsResponse" message="tns:IAccountManager_GetRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountManager" type="tns:IAccountManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/GetAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/GetAccountById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/LoginAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecords">
      <soap12:operation soapAction="http://tempuri.org/IAccountManager/GetRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LismanService">
    <wsdl:port name="NetTcpBinding_IAccountManager" binding="tns:NetTcpBinding_IAccountManager">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ALANGONZALZ9AE0\alanglezh</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>